<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
         crossorigin="anonymous"
      />
      <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
         crossorigin="anonymous"
      ></script>
      <title>Image Algorithms</title>
      <style>
         body {
            font-family: Arial, sans-serif;
            text-align: center;
         }
         .button-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 10px;
            margin: 20px auto;
            max-width: 600px;
         }
         button {
            padding: 15px 25px;
            margin-bottom: 10px;
            font-size: 16px;
            flex: 1 1 calc(25% - 10px);
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            cursor: pointer;
         }

         button:hover {
            background-color: #e0e0e0;
         }

         button.active {
            background-color: red;
            color: white;
         }
         img {
            margin-top: 20px;
            max-width: 80%;
            border: 1px solid #ccc;
         }

         .processed-images {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
         }
         .processed-images img {
            max-width: 300px;
            border: 1px solid #ccc;
         }

         .app {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
         }
      </style>

      <script>
         // Function to highlight the button and store the state
         function highlightButton(button, buttonValue) {
            // Remove "active" class from all buttons
            const buttons = document.querySelectorAll(
               '.button-container button'
            )
            buttons.forEach((btn) => btn.classList.remove('btn-secondary'))

            // Add "active" class to the clicked button
            button.classList.add('btn-secondary')

            // Store the active button value in localStorage
            localStorage.setItem('activeButton', buttonValue)
         }

         // Function to restore the button state on page load
         function restoreActiveButton() {
            const activeButtonValue = localStorage.getItem('activeButton')
            if (activeButtonValue) {
               const button = document.querySelector(
                  `button[value="${activeButtonValue}"]`
               )
               if (button) {
                  button.classList.add('btn-secondary')
               }
            }
         }

         // Run the restore function on page load
         document.addEventListener('DOMContentLoaded', restoreActiveButton)
      </script>
   </head>
   <body>
      <h1>Upload and Process Image</h1>

      <!-- Upload Form -->
      <form method="POST" enctype="multipart/form-data">
         <label for="file">Upload an image:</label>
         <input type="file" name="file" id="file" />
         <button type="submit">Upload</button>
      </form>

      <main class="app">
         {% if uploaded_filename %}
         <div class="container">
            <div class="container">
               <h2>Uploaded Image:</h2>
               <img
                  src="{{ url_for('uploaded_image', filename=uploaded_filename) }}"
                  alt="Uploaded Image"
                  style="max-width: 300px"
               />
            </div>
            <!-- Processing Buttons -->
            <div class="container">
               <!-- <h1>Image Processing Algorithms</h1> -->
               <form action="/" method="POST" class="button-container">
                  <input
                     type="hidden"
                     name="uploaded_image_filename"
                     value="{{ uploaded_filename }}"
                  />
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button1"
                     onclick="highlightButton(this, 'button1')"
                  >
                     Halftoning
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button2"
                     onclick="highlightButton(this, 'button2')"
                  >
                     Histogram
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button3"
                     onclick="highlightButton(this, 'button3')"
                  >
                     Sobel
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button4"
                     onclick="highlightButton(this, 'button4')"
                  >
                     Prewitt
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button5"
                     onclick="highlightButton(this, 'button5')"
                  >
                     Kirsch
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button6"
                     onclick="highlightButton(this, 'button6')"
                  >
                     Homogeneity
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button7"
                     onclick="highlightButton(this, 'button7')"
                  >
                     Difference
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button8"
                     onclick="highlightButton(this, 'button8')"
                  >
                     Difference Gaussian
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button9"
                     onclick="highlightButton(this, 'button9')"
                  >
                     Contrast
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button10"
                     onclick="highlightButton(this, 'button10')"
                  >
                     Variance
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button11"
                     onclick="highlightButton(this, 'button11')"
                  >
                     Range
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button12"
                     onclick="highlightButton(this, 'button12')"
                  >
                     High Pass
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button13"
                     onclick="highlightButton(this, 'button13')"
                  >
                     Low Pass
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button14"
                     onclick="highlightButton(this, 'button14')"
                  >
                     Median Filter
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button15"
                     onclick="highlightButton(this, 'button15')"
                  >
                     Add
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button16"
                     onclick="highlightButton(this, 'button16')"
                  >
                     Subtract Filter
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button17"
                     onclick="highlightButton(this, 'button17')"
                  >
                     Invert
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button18"
                     onclick="highlightButton(this, 'button18')"
                  >
                     Manual Segmentation
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button19"
                     onclick="highlightButton(this, 'button19')"
                  >
                     Histogram Peak
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button20"
                     onclick="highlightButton(this, 'button20')"
                  >
                     Histogram Valley
                  </button>
                  <button
                     class="btn btn-primary"
                     type="submit"
                     name="button_id"
                     value="button21"
                     onclick="highlightButton(this, 'button21')"
                  >
                     Adaptive Histogram
                  </button>
               </form>
            </div>
         </div>

      
         <div class="container">
            <h2>Processed Image(s):</h2>
            {% endif %} {% if processed_image_filenames %}
            <div class="processed-images">
               {% for filename in processed_image_filenames %}
               <img
                  src="{{ url_for('processed_image', filename=filename) }}"
                  alt="Processed Image"
                  style="max-width: 300px; margin: 10px"
               />
               {% endfor %}
            </div>
            {% endif %}
         </div>
  
      </main>
   </body>
</html>
